p{
    border: dashed orange;
    
}

#wed{
    color: white;
    background-color: black;
    border: dashed orange;
    border-radius: 20px;
}

.today{
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(pic5.jpg) 20 round;

}
a:link{
    color: red;
    background-color: yellow;

}
a:active{
    color: white;
    background-color: black;
}

a:visited{
    border:solid pink;
    color: black;
    background-color: aqua;
}
form{
    box-shadow: 10px 20px 5px 12px lightcoral;
}