body {
    background-image: url("backgroundimage.jpeg");
    background-repeat: repeat;  
  }

#topnav{
    background-color: black;
    color: white;
} 
#maincontent{
    color: black;
    background-color: white;
}