body{
	background-image: url(images/backgroundimage.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 15px;
}
.big{
	
	margin: 6px;
	padding: 5px;
	border: 12px solid; 
    border-image: url(images/back2.jpg) 30 round;

}
p{
	font-size: small;
}